@import './base.css';

@font-face {
  font-family: 'Source';
  src: url('./SourceHanSansSC-VF.otf') format('opentype');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table td {
  padding: 2px 8px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--gray-6);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background: var(--gray-10);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

.editor-wrapper .yoopta-callout-theme-warning {
  border-color: var(--orange-9);
}

.editor-wrapper .yoopta-callout-theme-success {
  background-color: var(--green-3);
  border-color: var(--green-9);
}
.editor-wrapper .yoopta-table-data-cell-content {
  font-size: 15px;
}

.app-wrapper {
  font-family: Source;
}
